// app global css in SCSS form

@font-face {
  font-family: 'maville-icons';
  src: url('../../public/fonts/maville-icons.eot');
  src: url('../../public/fonts/maville-icons.eot?#iefix') format('embedded-opentype'), url('../../public/fonts/maville-icons.woff') format('woff'), url('../../public/fonts/maville-icons.svg#maville-icons') format('svg'), url('../../public/fonts/maville-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

.mavillefont {
  font-family: 'maville-icons', sans-serif
}

.icon-phone:before {
  content: "\7a"
}

.icon-mail:before {
  content: "\65"
}

.icon-flech2prev:before {
  content: "\72"
}

.icon-flech2suiv:before {
  content: "\74"
}

.icon-flech3prev:before {
  content: "\79"
}

.icon-flech3suiv:before {
  content: "\75"
}

.icon-play:before {
  content: "\69"
}

.icon-flech1bas:before {
  content: "\6f"
}

.icon-flech1haut:before {
  content: "\70"
}

.icon-etoile0:after {
  content: "\71\71\71\71"
}

.icon-etoile1:before {
  content: "\71"
}

.icon-etoile1:after {
  content: "\71\71\71"
}

.icon-etoile2:before {
  content: "\71\71"
}

.icon-etoile2:after {
  content: "\71\71"
}

.icon-etoile3:before {
  content: "\71\71\71"
}

.icon-etoile3:after {
  content: "\71"
}

.icon-etoile1une:before {
  content: "\71"
}

.icon-etoile4:before {
  content: "\71\71\71\71"
}

.icon-bulle:before {
  content: "\73"
}

.icon-croix:before {
  content: "\64"
}

.icon-loupe:before {
  content: "\66"
}

.icon-prevCercle:before {
  content: "\67"
}

.icon-nextCercle:before {
  content: "\68"
}

.icon-exclamation:before {
  content: "\6a"
}

.icon-euro:before {
  content: "\6c"
}

.icon-horloge:before {
  content: "\6d"
}

.icon-pointeur:before {
  content: "\77"
}

.icon-mobile:before {
  content: "\78"
}

.icon-calendrier:before {
  content: "\63"
}

.icon-arobase:before {
  content: "\76"
}

.icon-enveloppe:before {
  content: "\62"
}

.icon-info:before {
  content: "\6e"
}

.icon-homme:before {
  content: "\21"
}

.icon-poubelle:before {
  content: "\22"
}

.icon-flechHaut:before {
  content: "\23"
}

.icon-colonne:before {
  content: "\24"
}

.icon-liste00:before {
  content: "\25"
}

.icon-toque:before {
  content: "\26"
}

.icon-toque0:after,
.icon-toque:after {
  content: "\26\26\26"
}

.icon-toque1:before {
  content: "\26"
}

.icon-toque1:after {
  content: "\26\26"
}

.icon-toque2:before {
  content: "\26\26"
}

.icon-toque2:after {
  content: "\26"
}

.icon-toque3:before {
  content: "\26\26\26"
}

.icon-euro-rond0:after,
.icon-euro-rond:after {
  content: "\27\27\27"
}

.icon-euro-rond1:before {
  content: "\27"
}

.icon-euro-rond1:after {
  content: "\27\27"
}

.icon-euro-rond2:before {
  content: "\27\27"
}

.icon-euro-rond2:after {
  content: "\27"
}

.icon-euro-rond3:before {
  content: "\27\27\27"
}

.icon-print:before {
  content: "\28"
}

.icon-chrono:before {
  content: "\29"
}

.icon-dupliquer:before {
  content: "\2a"
}

.icon-modifier:before {
  content: "\2b"
}

.icon-stop:before {
  content: "\2c"
}

.icon-parution:before {
  content: "\2d"
}

.icon-voir:before {
  content: "\2f"
}

.icon-sablier:before {
  content: "\7b"
}

@font-face {
  font-family: 'maville-icons-V2';
  src: url('/design/fonts/maville-icons-V2.eot?fkl4wu');
  src: url('/design/fonts/maville-icons-V2.eot?fkl4wu#iefix') format('embedded-opentype'), url('/design/fonts/maville-icons-V2.ttf?fkl4wu') format('truetype'), url('/design/fonts/maville-icons-V2.woff?fkl4wu') format('woff'), url('/design/fonts/maville-icons-V2.svg?fkl4wu#maville-icons-V2') format('svg');
  font-weight: normal;
  font-style: normal
}

[class^="iconv2-"],


.card-mobile {
  display: flex;
  gap: 30px;
  flex-direction: row;
}

@media all and (max-width: 768px) {

  .card-home:first-child {
    margin-bottom: 24px;
  }

  .card-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card-mobile-re {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media all and (max-width: 600px) {

  .card-home:first-child {
    margin-bottom: 24px;
  }

  .card-mobile {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.text-small {
  font-size: small;
}

.text-medium {
  font-size: medium;
}

.text-large {
  font-size: large;
}

.w-100 {
  width: 100%;
}

.q-item__section--avatar {
  color: inherit;
  min-width: 40px;
}

.card-home {
  width: 100%;
  margin-top: 0;
}

@media all and (max-width: 600px) {
  .card-home {
    margin-top: inherit;
  }
}

.home-height {
  min-height: 50vh !important;
}

.footer {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media all and (max-width: 600px) {
  .footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

.footer ul {
  margin: 0 0;
  list-style: none;
  padding: 0 0;
  text-align: center;
}

.footer ul li {
  padding: 10px 0;
}

.on_mobile {
  display: none;
}

.on_desktop {
  display: block;
}

@media all and (max-width: 600px) {
  .on_mobile {
    display: block;
  }

  .on_desktop {
    display: none;
  }
}

.hr {
  width: 100%;
  height: 0px;
  border: 0.5px solid #bdbbbb;
  background: #8f8b8b63;
  color: #8f8b8b63;
  margin-top: 0;
}

@media all and (max-width: 600px) {
  .q-carousel__slide {
    background-repeat: no-repeat;
  }

  .q-carousel {
    background-color: #fff;
    max-height: 130px;
    width: 100%;
  }
}

#form_recherche2 {
  display: none;
}

.searchtitre {
  display: none;
}

.indice_ligne,
.indice_ligne_on {
  width: 100%;
}

.trafic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.trafic a {
  width: 40px;
  display: block;
}

.trafic a img {
  width: 40px;
}

/* LOADER */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.text-h1 {
  font-size: 2.3em;
}

@media all and (max-width: 600px) {
  .text-h1 {
    font-size: 26px;
  }

  .text-h2 {
    font-size: 34px;
  }
}

.line-none {
  line-height: 1.5;
}

.mcetoc {
  margin-top: 0;
  padding: 0.2em 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.27em;
  color: #ffffff;
  background: #172474;
  font-family: 'Catamaranbold', sans-serif;
  display: table;
}

ol#fiche {
  padding: 0 24px;
}

#mobireport_link_arret {
  display: none;
  line-height: 43px;
}

.hide {
  display: none !important;
}

.grid_card_actu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media all and (max-width: 600px) {
  .grid_card_actu {
    display: block !important;
  }

  .card_actu {
    margin-top: 2em;
  }

  .card_actu:first-child {
    margin-top: 0 !important;
  }

}

@media all and (max-width: 768px) {
  .grid_card_actu_re {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px 20px 20px;
  }

  .grid_card_actu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.text_uppercase {
  text-transform: uppercase;
}

.texte_date_card {
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  margin-top: 0;
  padding-top: 0;
}

#bloc_actu_ligne ul {
  padding: 0 0;
}

#bloc_actu_ligne ul li {
  list-style-type: none;
  min-height: 20px;
  padding: 0 0;
  margin-bottom: 20px;
  background-color: #ffffff;
}

#bloc_actu_ligne ul li h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5em;
  color: navy;
  background: transparent;
  padding: 0.2em 0;
  display: table;
}

#bloc_actu_ligne ul li p {
  line-height: 1.5em;
  font-size: 16px;
}

#bloc_actu_ligne ul li a {
  font-size: 18px;
  text-transform: uppercase;
}

#bloc_actu_ligne ul li br {
  display: none;
}

#bloc_actu_ligne ul li p:last-child {
  display: none;
}

.sortie_type {
  color: #FF4200;
  font-size: 16px;
}

.sortie_title {
  font-weight: 700;
}

.sortie_url {
  color: inherit;
  text-decoration: none;
}

.plan .title {
  font-size: 14px;
  line-height: 25px;
}

.plan a {
  text-decoration: none;
  color: inherit;
}

.element {
  border-top: 1px solid #D4D4D4
}

.elmt-liste-ligne.top .element:first-child {
  border-top: 1px solid transparent
}

.elmt-titre,
.elmt-text {
  color: #3e3e3e
}

.elmt-photo {
  border: 5px solid #F1F1F1
}

.elmt-liste-ligne.menu-col2x {
  margin-bottom: 0
}

.link-bait .link-reseaux {
  float: left
}

.une-col .elmt-liste-ligne .demi-col {
  width: 46.8%
}

.elmt-liste-ligne .demi-col.elmt-photo {
  height: 175px;
  margin-right: auto
}

#pubx50 {
  margin-bottom: 35px
}

.gondole .elmt-photo {
  height: auto;
  overflow: hidden;
  width: auto
}

.gondole .elmt-titre,
.gondole .elmt-titre a {
  color: #FFF;
  cursor: pointer
}

.gondole .elmt-text {
  color: #FF4200;
  display: block;
  font-size: 1.15em;
  height: 21px
}

.gondole .elmt-plus a {
  color: #FFF
}

.gondole .elmt-plus a:hover {
  color: #FF4200
}

.gondole .elmt-plus {
  color: #FFF;
  cursor: pointer;
  border-top: none;
  padding-top: 10px
}

.gondole-caption .element:last-child {
  margin-right: 0
}

.gondole-caption .element {
  margin-top: 20px;
  margin-right: 2%;
  margin-bottom: 30px;
  width: 150px;
  float: left;
  font-size: 13px
}

.gondole .btn01 {
  font-size: 1.4em;
  padding: 7px 12px;
  position: absolute;
  right: 4.5%;
  bottom: 7.5%
}

.gondole .dealL {
  float: left;
  width: 57%;
  padding: 3%
}

.gondole .dealL .elmt-titre {
  font-family: "Trebuchet MS", arial, sans-serif;
  font-size: 18px;
  overflow: hidden;
  height: 48px
}

.gondole .dealR {
  color: #FFF;
  float: right;
  width: 36%;
  padding-top: 5px;
  padding-left: 1%;
  background-color: #437C90;
  height: 81px
}

.gondole .dealR .btn01 {
  border-radius: 26px;
  background-color: #1F363D;
  background: #1F363D;
  color: #FFF;
  font-family: "Trebuchet MS";
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  transition: background-color 0.2s ease-out;
  border: none;
  right: 2%
}

.gondole .dealR .btn01:hover {
  background-color: #FFF;
  color: #1F363D
}

.gondole .dealL .elmt-titre {
  font-size: 1.5em
}

.gondole .dealR .elmt-prix-init {
  font-size: 14px;
  float: left;
  top: 1%;
  text-align: right;
  width: 35%
}

.gondole .dealR .elmt-prix-new {
  font-size: 30px;
  font-weight: bold;
  float: left;
  width: 60%
}

.col1x4 .bloc-cadre {
  overflow: auto;
  padding: 17px 20px
}

.col1x4 .titre-bloc-xl {
  margin-bottom: 5px
}

.col1x4 .elmt-photo {
  height: 80px
}

.col1x4 .element.size-bloc {
  min-height: 200px;
  padding-bottom: 12px
}

.elmt-liste-ligne.date .element {
  padding: 18px 0
}

.elmt-liste-ligne.date .elmt-titre,
.elmt-liste-ligne.date .elmt-text {
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 0
}

.elmt-liste-ligne.date .elmt-info {
  padding-top: 3px
}

.elmt-detail .element {
  padding-bottom: 20px
}

.elmt-detail .element:hover {
  cursor: pointer
}

.elmt-detail.article .elmt-photo {
  height: 350px;
  margin-bottom: 15px;
  -webkit-transition: border 0.5s;
  -ms-transition: border 0.5s;
  transition: border 0.5s
}

.elmt-detail .element:hover .elmt-photo {
  border-color: #ff4200
}

.col3x4 .elmt-detail.article .elmt-photo {
  height: 230px
}

.col3x4 .elmt-detail.article .elmt-text a {
  font-weight: inherit;
  text-decoration: inherit
}

.menu-col2x {
  color: #2b2b2b
}

.menu-col2x .element-tableau {
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px
}

.menu-col2x .element-tableau:nth-child(odd) {
  background-color: #ededed
}

.meteo-jour {
  float: left;
  width: 120px;
  padding-top: 10px
}

.meteo-picto {
  float: left;
  width: 50px
}

.meteo-degre {
  float: left;
  width: 75px;
  padding-top: 10px;
  text-align: center
}

.elmt-liste-bloc.affiche .element:nth-child(even),
.elmt-liste-bloc.affiche .element:nth-child(3n) {
  margin-right: 20px
}

.elmt-liste-bloc.affiche .element:nth-child(4n) {
  margin-right: 0px;
  clear: none
}

.elmt-liste-bloc.affiche {
  margin-bottom: 0
}

.elmt-liste-ligne.top .element {
  box-sizing: border-box;
  min-height: 50px;
  padding: 10px 0 0
}

.elmt-liste-ligne.top .list-ba .elmt-titre {
  width: 58%
}

.elmt-liste-ligne.top .sizeM[class^="icon-etoile"] {
  margin-top: -3px
}

.elmt-liste-bloc.promo {
  margin-bottom: 0;
  margin-top: 20px
}

.elmt-liste-bloc.promo .element {
  overflow: inherit
}

.elmt-liste-bloc.promo .etiquette {
  left: -6px;
  top: 15px;
  z-index: 10
}

.elmt-liste-bloc.promo .elmt-promo {
  height: 35px;
  padding: 5px
}

.elmt-liste-bloc.promo .elmt-accroche {
  float: right;
  font-size: 15px;
  line-height: 1.2;
  margin-top: -2px;
  width: 74%
}

.col1x3 .elmt-liste-bloc.promo .elmt-text {
  height: 52px;
  font-size: 14px;
  font-weight: normal;
  line-height: inherit
}

.elmt-liste-bloc.promo .elmt-etoile {
  padding: 5px 0 0 14px;
  box-sizing: border-box
}

.elmt-liste-bloc.promo .elmt-prix .prix-promo {
  font-size: 20px;
  width: 65%
}

.elmt-liste-bloc.promo .elmt-prix .prix-init {
  font-size: 15px;
  width: 35%
}

.icon-resto,
.icon-deals,
.icon-jeu,
.icon-shopping,
.icon-auto,
.icon-immo,
.icon-affaires {
  float: left;
  height: 30px;
  width: 26px
}

.icon-resto {
  background-position: -190px -189px
}

.icon-deals {
  background-position: -111px -189px
}

.icon-jeu {
  background-position: -136px -189px
}

.icon-shopping {
  background-position: -155px -189px
}

.icon-auto {
  background-position: -210px -189px
}

.icon-immo {
  background-position: -210px -163px
}

.icon-affaires {
  background-position: -182px -162px
}

#blocShoppingUne .col3x4 .elmt-text {
  min-height: 146px
}

.une-col .col1x4 .elmt-liste-bloc .element {
  margin-bottom: 10px;
  margin-right: 0;
  width: auto
}

.form-box .ui-icon-closethick,
.nav-filtre .dk_toggle,
.sprite-pictos {
  background-image: url(https://mvistatic.com/design/images/spritePictosV13.png);
}

.elmt-liste-bloc.promo .elmt-etoile {
  padding: 5px 0 0 14px;
  box-sizing: border-box;
}

.elmt-liste-bloc.promo .elmt-accroche {
  float: right;
  font-size: 15px;
  line-height: 1.2;
  margin-top: -2px;
  width: 74%;
}

[class^="icon-etoile"].sizeL,
.icon-etoilePasAvis.sizeL {
  font-size: 32px;
  height: 24px;
  letter-spacing: -0.19em;
  line-height: 0.8em;
  width: 104px;
}

[class^="icon-etoile"],
.icon-etoilePasAvis {
  float: left;
  font-family: "maville-icons", sans-serif;
  overflow: hidden;
}

[class^="icon-etoile"]:before,
[class^="mavillefont icon-toque"]:before,
[class^="mavillefont icon-euro-rond"]:before {
  color: #FF4200;
}

.elmt-liste-bloc.promo .elmt-promo {
  height: 35px;
  padding: 5px;
}

.elmt-liste-bloc.promo .elmt-promo {
  background-color: #F1F1F1;
  padding: 5px 5px 8px;
  overflow: hidden;
}

.elmt-accroche.elmt-etoile {
  margin-top: 0;
}

.elmt-accroche {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
}

.elmt-prix .prix-init {
  text-decoration: line-through;
}

.plan .elmt-prix .prix-init {
  margin-right: 10px;
}

.plan .q-badge {
  color: #fff;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 12px;
  min-height: 12px;
  font-weight: 500;
  vertical-align: baseline;
  box-shadow: 0px 0px 1px 1px #f4433680;
}

.plan .q-badge--floating {
  position: absolute;
  top: -20px;
  left: -3px;
  right: auto;
  cursor: inherit;
  border-radius: 6px !important;
}

.plan a:last-child div {
  margin-bottom: 0;
}

.block-onglets .block-content-onglet {
  overflow: hidden;
  margin-top: -1px;
}

.col2x .bloc-cadre {
  padding: 15px 20px 20px;
  margin-bottom: 20px;
}

.elmt-liste-ligne,
.elmt-liste-bloc.demi {
  margin-bottom: 0;
}

.element a {
  text-decoration: none;
  color: inherit;
}

.elmt-liste-ligne.top .element {
  box-sizing: border-box;
  min-height: 60px;
  padding: 10px 0 0;
}

.elmt-liste-ligne.top .elmt-num {
  float: left;
  padding-right: 12px;
  font-size: 13px;
}

.elmt-liste-ligne.top.num .elmt-titre {
  width: 86%;
}

.elmt-liste-ligne.top .list-ba .elmt-titre {
  width: 58%;
}

.elmt-liste-ligne .elmt-titre {
  font-size: 14px;
  line-height: 1.3em;
  padding-bottom: 5px;
}

.elmt-liste-ligne.top .elmt-titre {
  float: left;
  overflow: hidden;
  width: 100%;
}

.elmt-liste-ligne.top .elmt-titre {
  color: #2c2c2c;
  margin: 0 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: auto;
  font-weight: 600;
  padding-top: 1px;
}

.col2x .elmt-liste-ligne .elmt-titre {
  font-size: 14px;
  line-height: 1.3em;
  padding-bottom: 5px;
}

.floatR {
  float: right;
}

.elmt-type {
  color: #FF4200;
  float: left;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.clearB {
  clear: both;
}

.coul-texte {
  color: #6b6b6b;
}

.size11 {
  font-size: 11px;
}

.restaurants {
  width: 100%;
}

.block-content-onglet a {
  pointer-events: none;
}

h4 {
  font-size: 22px;
  color: purple;
}

.plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
}

@media all and (max-width: 600px) {
  .plan {
    display: block;
  }
}

.table th,
.table td {
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #DDD;
}

footer .link-contact {
  width: 100% !important
}

.table-responsive td img {
  width: 90% !important
}

.btn-violet {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #01a4a6;
  *background: #01a4a6;
}

.btn-violet:hover,
.btn-violet:focus,
.btn-violet:active,
.btn-violet.active,
.btn-violet.disabled,
.btn-violet[disabled] {
  color: #FFFFFF;
  background-color: #01a4a6;
  *background-color: #003bb3;
}

.table th,
.table td {
  border-top: 1px solid #DDD;
}

#resizecontenu table {
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 3px solid #a71680;
}

#resizecontenu table thead {
  background: #a71680;
}

#resizecontenu table caption+thead tr:first-child th,
#resizecontenu table caption+thead tr:first-child td,
#resizecontenu table colgroup+thead tr:first-child th,
#resizecontenu table colgroup+thead tr:first-child td,
#resizecontenu table thead:first-child tr:first-child th,
#resizecontenu table thead:first-child tr:first-child td {
  border-top: 0;
}

#resizecontenu table thead th {
  vertical-align: middle;
  color: white;
  text-align: left;
}

#resizecontenu table th,
#resizecontenu table td {
  padding: 8px;
  vertical-align: middle;
  border-top: 0px;
  line-height: 1.5em;
}

#resizecontenu table th.text-right,
#resizecontenu table td.text-right {
  text-align: right
}

#resizecontenu table th.text-center,
#resizecontenu table td.text-center {
  text-align: center
}

#resizecontenu table th.text-left,
#resizecontenu table td.text-left {
  text-align: left
}


#resizecontenu table tbody>tr:nth-child(2n+1)>td,
#resizecontenu table tbody>tr:nth-child(2n+1)>th {
  background-color: #f9f9f9;
}

#resizecontenu #listactu table tbody>tr:nth-child(2n+1)>td,
#resizecontenu #listactu table tbody>tr:nth-child(2n+1)>th {
  background-color: transparent;
  padding: 0
}


#resizecontenu #listactu table tbody>tr>td,
#resizecontenu #listactu table tbody>tr>th {
  border-top: 0px solid #dddddd;
  padding: 0
}

.well.well-small {
  background: #5BB4D8 !important;
  color: #101364
}

.idelio-modal {
  z-index: 999999999 !important;
}


@media only screen and (max-width: 767px) {
  #zonecontenu #actiNav ul {
    width: 100% !important
  }

  #resizecontenu table {
    border: 0px solid #a71680 !important;
  }

  #resizecontenu table tr {
    border: 3px solid #a71680;
    margin-bottom: 30px
  }


  #resizecontenu thead {
    display: none;
  }

  #resizecontenu tbody,
  #resizecontenu tr,
  #resizecontenu th,
  #resizecontenu td {
    display: block;
    padding: 0;
  }

  #resizecontenu table th,
  #resizecontenu table td {
    padding: 0;
    vertical-align: middle;
    width: 100% !important
  }

  #resizecontenu table td {
    padding-bottom: 10px
  }

  #resizecontenu tr,
  #resizecontenu th,
  #resizecontenu td {
    height: auto !important;
  }

  #resizecontenu td[data-title]::before {
    content: attr(data-title);
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 16px 0 16px;
    margin: 0px 0px 10px 0px;
    color: white;
    background: #a71680;
    text-align: center
  }

  #resizecontenu tr {
    //border: 1px solid gainsboro;
    border-right: 0;
    border-left: 0;
    margin-bottom: 2em;
  }

  #resizecontenu tbody th[scope="row"] {
    font-weight: bold;
    border-bottom: 2px solid gainsboro;
    border-top: 0;
  }


  .pull-right,
  .pull-left {
    float: none
  }

}

#resizecontenu .btn-primary {
  color: #FFFFFF !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
  background: #da3db0;
  -webkit-box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 5%);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.05);
  box-shadow: 5px 5px 0px 0px rgb(0 0 0 / 5%);
}

#resizecontenu .btn-large {
  font-size: 1em;
  font-weight: 400;
  padding: 15px;
  border: 0px solid;
  text-transform: uppercase;
  line-height: 1.5;
}

#resizecontenu .btn {
  border-radius: 0 !important;
  text-shadow: 0 0 0 transparent !important;
  text-transform: uppercase;
}

#resizecontenu .btn {
  width: 100%;
}

.loading {
  font-weight: 700;
  font-size: 24px;
}
